<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="contact-beacon-registry">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
      The UK Beacon Registry
    </h3>
    <ul class="govuk-list">
      <li>
        <a href="mailto:ukbeacons@mcga.gov.uk" class="govuk-link">
          ukbeacons@mcga.gov.uk
        </a>
      </li>
      <li>Telephone: +44 (0)20 3817 2006</li>
      <li>Fax: +44 (0)1326 319264</li>
      <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
      <li>
        <a href="https://www.gov.uk/call-charges" class="govuk-link">
          Find out about call charges
        </a>
      </li>
    </ul>
  </div>
</html>
