<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <div
      th:fragment="cookie-banner"
      class="govuk-cookie-banner"
      role="region"
      aria-label="Cookies on Maritime and Coastguard Agency"
    >
      <div class="govuk-cookie-banner__message govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-cookie-banner__heading govuk-heading-m">
              Cookies on Maritime and Coastguard Agency
            </h2>
            <div class="govuk-cookie-banner__content">
              <p class="govuk-body">
                We use some essential cookies to make this service work.
              </p>
            </div>
          </div>
        </div>
        <div class="govuk-button-group">
          <a th:href="@{/help/cookies}" class="govuk-link">View cookies</a>
          <form
            th:action="@{/help/cookies/hide-banner}"
            method="post"
            novalidate
          >
            <button
              class="govuk-button"
              data-module="govuk-button"
              role="button"
            >
              Hide this message about essential cookies
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
