<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout.html}"
>
  <head>
    <title>Sorry, there's a problem with this service</title>
  </head>
  <body>
    <div layout:fragment="content">
      <main id="main-content" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
              Sorry, there is a problem with the service
            </h1>
            <p class="govuk-body">
              If you typed the web address, check it is correct.
            </p>
            <p class="govuk-body">
              If you pasted the web address, check you copied the entire
              address.
            </p>
            <p class="govuk-body">
              If the web address is correct, or you selected a link or button,
              use the details below if you need to speak to someone about your
              beacon.
            </p>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
