<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout.html}"
>
  <head>
    <title>Sorry, there's a problem with this service</title>
  </head>
  <body>
    <div layout:fragment="content">
      <main id="main-content" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
              Sorry, there is a problem with the service
            </h1>
            <p class="govuk-body">Try again later.</p>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
