<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout.html}"
>
  <head>
    <title>Register a UK 406 MHz Beacon for commercial or pleasure use</title>
  </head>
  <body>
    <div layout:fragment="content">
      <main id="main-content" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
              Register a UK 406 MHz Beacon for commercial or pleasure use
            </h1>

            <p class="govuk-body">
              You can use this service to register any of the following types of
              UK 406 Megahertz (MHz) emergency beacons:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a Personal Locator Beacon (PLB) for any use</li>
              <li>
                an Emergency Position Indicating Radio Beacon (EPIRB) for
                maritime use
              </li>
              <li>an Emergency Locator Transmitter (ELT) for aircraft use</li>
              <li>a Beacon dongle for aircraft use</li>
            </ul>
            <p class="govuk-body">Registering takes around 15 minutes.</p>
            <h2 class="govuk-heading-m">Before you start</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                You&#x27;ll need to know the beacon Hexadecimal Identification
                (HEX ID) or Unique Identifying Number (UIN), manufacturer serial
                number and model
              </li>
              <li>
                If you have a vessel, you will need your vessel name, number(s),
                radio communications, Call Sign and Maritime Mobile Service
                Identity (MMSI) number, if applicable
              </li>
              <li>
                If you have an aircraft, you will need your aircraft make and
                model, Aircraft Registration Mark, aircraft number(s), radio
                communications
              </li>
              <li>
                You will also need at least one emergency contact for Search and
                Rescue
              </li>
            </ul>
            <div class="govuk-warning-text">
              <span aria-hidden="true" class="govuk-warning-text__icon">!</span
              ><strong class="govuk-warning-text__text"
                ><span class="govuk-warning-text__assistive">Warning</span>This
                service is only for UK programmed 406 MHz beacons.
                <a class="govuk-link" href="mailto:ukbeacons@mcga.gov.uk"
                  >Contact the UK Beacon Registry</a
                >
                if you aren&#x27;t sure if your beacon is 406 MHz or
                not.</strong
              >
            </div>
            <a
              class="govuk-button govuk-button--start"
              data-module="govuk-button"
              draggable="false"
              th:href="TODO"
              role="button"
              >Start now
              <svg
                aria-hidden="true"
                class="govuk-button__start-icon"
                focusable="false"
                height="19"
                viewBox="0 0 33 40"
                width="17.5"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 0h13l20 20-20 20H0l20-20z"
                  fill="currentColor"
                ></path>
              </svg>
            </a>
            <h2 class="govuk-heading-m">Other ways to apply</h2>
            <p class="govuk-body">
              If you need help with registering online, want to register
              multiple beacons at once or would like to register by post,
              contact the UK Beacon Registry team.
            </p>
            <div class="govuk-inset-text">
              <div>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                  The UK Beacon Registry
                </h3>
                <ul class="govuk-list">
                  <li>
                    <a class="govuk-link" href="mailto:ukbeacons@mcga.gov.uk"
                      >ukbeacons@mcga.gov.uk</a
                    >
                  </li>
                  <li>Telephone: +44 (0)20 3817 2006</li>
                  <li>Fax: +44 (0)1326 319264</li>
                  <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
                  <li>
                    <a class="govuk-link" href="https://www.gov.uk/call-charges"
                      >Find out about call charges</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <h2 class="govuk-heading-m">Data protection regulations</h2>
            <p class="govuk-body">
              The Maritime &amp; Coastguard Agency (MCA) collect and retain the
              personal information provided when you register a UK programmed
              406 MHz beacon. Processing your information allows the MCA to
              exercise its official duty and to identify persons in distress and
              helps save lives.
            </p>
            <p class="govuk-body">
              We will retain your information until we are advised that the
              beacon is no longer active, for example it has been removed from
              the vessel, replaced or destroyed.
            </p>
            <p class="govuk-body">
              We will share your information with global Search and Rescue
              authorities and those delegated authorities, such as RNLI, Police
              or Rescue helicopter crew, that are directly involved with
              investigations relating to a beacon activation.
            </p>
            <p class="govuk-body">
              Further details on Beacon Registration privacy policy can be found
              at<!-- -->
              <a
                class="govuk-link"
                href="https://www.gov.uk/mca/privacy-policy#mhz-beacons-privacy-information-notice"
                >406 MHz beacons privacy information notice</a
              >.
            </p>
            <p class="govuk-body">
              To find out more about how the MCA looks after personal data, your
              rights, and how to contact our data protection officer, please go
              to<!-- -->
              <a class="govuk-link" href="https://www.gov.uk/mca/privacy-policy"
                >personal information charter</a
              >.
            </p>
          </div>
          <div class="govuk-grid-column-one-third">
            <aside
              class="govuk-!-padding-top-3 govuk-!-padding-bottom-4"
              role="complementary"
            >
              <nav role="navigation">
                <a
                  class="govuk-body govuk-!-margin-bottom-3"
                  href="https://gov.uk/mca"
                  ><img
                    alt="This image illustrates the Maritime &amp; Coastguard Agency logo."
                    th:src="@{/assets/images/mca-logo.png}"
                /></a>
              </nav>
            </aside>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
